<div class="container">
<h1 class = tag-list>「<%= @tag.name %>」タグ</h1>

<ul class="microposts">
<h1>仕事一覧</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>金額</th>
      <th>依頼者名</th>
      <th>仕事の詳細</th>
      <th>期限</th>
      <th>場所</th>
    </tr>
  </thead>

 <%= render @jobs %>
</ul>
</div>