// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobBtn{
	text-align: center;
}

.jobBtn div{
	display: inline;
	margin:20px;
}

.topMesa{
	color:#2e8b57;
}

.nC{
	background-color: red;
}

.aboutVentie{
	font-size: 40px;
	margin-top: 45px;
}

.aboutContents{
	background-color: #464e4f;
}