// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-success {
    position: relative;
    box-shadow: 0 3px 0 ;
    border: 0;
    width: 80px;
    padding: 15px 0;
    &:hover {
      top: -3px;
    }
  }

.applybtn{
	width: 98px;
	margin-top: 10px;
	padding: 10px 0;
}

.BackD{
	margin-left: 419px;
}


.jobBox{
     padding: 10px 10px;
     border-radius:4px;
     border:1px solid #222;
     box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.4);
     margin: 0 auto;
     width: 683px;
}

.whoClient{
	border-bottom:solid 1px #c0c0c0;
}

.jobContentLeft{
	width: 300px;
	float: left;
}

.jobContentRight{
	width: 230px;
	float: right;
}

.mbJob{
	margin-top: 110px;
}


.PT100{
	margin-top: 190px;
}

.PPP{
	margin-right: 10px;
}

div .mm{
	margin-top: 40px;
	margin-left: 156px;
}